.ruhul {
  display: flex;
}

/* sidebar section */
.sidebar {
  height: 100vh;
  position: fixed;
  background-color: gray;
  flex: 0.3;
}
.sidebar-toggle {
  flex: 1;
  width: 200px;
}
.sidebar-toggle-icons {
  display: flex;
  align-items: right;
  justify-content: right;
  cursor: pointer;
}
.sidebar-toggle-icons p svg {
  background-color: green;
  color: white;
  margin-top: 10px;
}

/* main section */
.main {
  margin-left: 200px;
  background-color: antiquewhite;
  flex: 8;
}

.main-toggle {
  margin-left: 62px;
  background-color: antiquewhite;
  flex: 7;
}
