.nav-profile-img img{
    border-radius: 90px;
    height: 150px;
    width: 150px;
    display: flex;
    vertical-align: middle;
    margin: 0 auto;
    margin-top: 5px;
}

.nav-item{
    color: rgb(70, 6, 6);
    font-size: 20px;
    margin-left: 30px;
}

.nav-link{
    margin-top: 20px;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.nav-link:hover{
    background-color: aqua;
    margin-left:10px ;
    color: black;
}

.nav-link svg{
    margin-right: 10px;
    background-color: rgb(198, 188, 170);
    border-radius: 5px;
    margin-left: 5px;
}